USE [master]
GO
/****** Object:  Database [cyber_crime]    Script Date: 03/15/2018 13:48:30 ******/
CREATE DATABASE [cyber_crime] 
GO
USE [cyber_crime]
GO
/****** Object:  Table [dbo].[reg]    Script Date: 03/15/2018 13:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[dob] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[mailid] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[s_q] [nvarchar](max) NULL,
	[s_a] [nvarchar](max) NULL,
	[w_entry] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[img]    Script Date: 03/15/2018 13:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FILENAME] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoS]    Script Date: 03/15/2018 13:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[time] [nvarchar](50) NULL,
	[thread] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attack]    Script Date: 03/15/2018 13:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attack](
	[id] [int] NOT NULL,
	[loginid] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[time] [nvarchar](50) NULL
) ON [PRIMARY]
GO
